.footer{
    display: flex;
    margin-left: 5vw;
    margin-right: 5vw;
    gap: 100px;
}
.foot-1 ul{
    list-style: none;
}
.foot-1 ul li{
    font-size: 14px;
}
.active{
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 700;
}
.s{
    display: flex;
    align-items: center;
    gap: 20px;
}
.s-1{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 99px;
    height: 30px;
    width: 30px;
    background-color: rgb(204, 204, 204);
}
.s-1 img{
    height: 20px;
    width: 20px;
    border-radius: 99px;
}
.foot-2{
    margin-left: 100px;
}
.foot-3{
    display: flex;
    align-items: center;
}
.foot-3 input{
    height: 35px;
    width: 200px;
    padding-left: 20px;
    font-size: 14px;
    border: 1px solid #8064a1;
    border-radius: 5px 0px 0px 5px;
}
.foot-2-icon{
    background-color: #8064a1;
    color: white;
    border-radius: 0px 5px 5px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 38px;
    width: 60px;
    font-size: 16px;
    font-weight: 500;
}

@media screen and (max-width:1100px){
    .footer{
        display: inline;
    }
}